@model AzureTest.WebApp.SnotelStations
@{
    ViewBag.Title = "SNOTEL Sites in " + Model.State;
}
<h1>SNOTEL Stations in @Model.State</h1>

<ul>
    @foreach (var station in Model.Stations)
    {
        <li>@station</li>
    }
</ul>